:root {
  --color: #27293B;
  --border-color: #4A4B5A;
}
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Ubuntu, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color);
  margin: 3em 0;
  font-size: 1.25em;
  line-height: 1.4;
}
article {
  display: flex;
  flex-flow: column;
  align-items: center;
}
input, button {
  font: inherit;
  border: 1px var(--border-color) solid;
}
input {
  height: 2.25ex;
  margin-top: 1em;
}
input[type="number"] {
  max-width: 5ch;
}
button {
  padding: 0.25em 1.5em;
  margin: 2em 0;
  cursor: pointer;
}
.results {
  width: 100%;
  max-width: 70ch;
  text-align: left;
}
.results > p::first-letter {
  color: navy;
}